<?xml version="1.0" encoding="utf-8" ?>

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%date{MM/dd HH:mm:ss} %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="slick.compiler" level="WARN"/>
    <logger name="slick.relational" level="WARN"/>
    <!--<logger name="slick.jdbc" level="WARN" />-->
    <logger name="bootstrap.liftweb" level="INFO" />
    <logger name="net.liftweb" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>